.content{
    width: 1000px;
    min-height: 70%;
    margin: 0 auto;
    background-color: rgba(200, 205, 18, 0.39);
    text-align: center;
    font-style: normal;
}

.form-input{
    display: block;
    width: 350px;
    height: 38px;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1px;
    color: #999999;
    background-color: white;
    border: 1px solid darkgreen;
    border-radius: 3px;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    width: 200px;
    height: 40px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: normal;
    line-height: 1px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    border-color: darkgreen;
    border-radius: 4px;
    color: white;
    background-color: rgba(60, 184, 142, 0.41);
}